.section {
  width: 390px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 60px 20px;
  padding: 0 20px;
  margin: 100px 0;
  min-height: 100vh;
}

.loadmore {
  border-radius: 10px;
  margin-bottom: 50px;
}
