.searchBox {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 30px;
}

.searchBox input {
  border: none;
  border-radius: 10px;
  height: 25px;
  text-align: center;
  width: 60%;
}
