.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 15px;
}
.img {
  margin: 20px auto;
  width: 60%;
  display: block;
}
.header {
  display: flex;
  flex-direction: column;
}
