.container {
  width: 100%;
  max-width: 375px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--flyng);
  border-radius: 15px;
}
img {
  margin: 20px auto;
}
header {
  display: flex;
  flex-direction: column;
}
.dark {
  background-color: var(--bgDarkmode);
}
